@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
/* shared styles  */
.primary_btn{
    background-color: #4e47ff;
    color: #fff ;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    padding: 8px 16px;
    transition: all ease 0.3s;

    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}
.primary_btn:hover{
    transform: translateY(-2px);
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.2);

}
.a{
    text-decoration: none;
}
.margin_top{
    margin-top: 10px;
}
/* header style  */
.header{
    background: url("Assets/Hero-bg.png") no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 220px 0;
   
}
.nav_bar{
    width: 85%;
    max-width: 1300px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 12px 16px;
    align-items: center;
    backdrop-filter: blur(10px);
    top: 2%;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.61);
}
.logo>h2{
    color: #4e47ff;
    font-family:  "Inter", sans-serif;
    font-size: 26px;
}
.hero_content{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 85%;
    flex-direction: column;
    max-width: 1300px;
    gap: 10px;
}
.hero_content h1{
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
    color: #252432;

}
.btn_corection{
    font-weight: 600;
    padding: 12px 18px;
}
/* main styles */
main{
    background-color: #f5f8ff;
    
}
.about_section{
    width: 85%;
    position: relative;
    margin: 0 auto;
    padding:70px 0;
    display: flex;
    
    gap: 40px;  
    justify-content: space-between;
    max-width: 1300px;
}
.about_content{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about_content h2{
    font-size: 35px;
    font-family: "Raleway", sans-serif;

    color: #252432;
}
.about_content p{
    font-size: 18px;
        font-family:  "Inter", sans-serif;

    color: #2524327c;
}
.about_img{
    width: 55%;
}
.about_img img{
    width: 100%;
    height: 400px;  
    object-fit: cover;
    border-radius: 10px;
}
.about_part_two{
    background-color: #e5e7ff;
    width: 85%;
    padding: 50px 80px;
    max-width: 1300px;
    border-radius: 10px;
    margin: 0 auto;
}
.about_part_two h3{
    text-align: center;
    font-size: 28px;
    color: #252432;
    font-family: "Raleway", sans-serif;
}
.about_warper{
    padding: 70px 0;
    
}
.num_box{
    justify-content: space-between;
    display: flex;
    margin-top: 20px;
}
.for_all_box{
    display: flex;
    align-items: center;
    justify-content: center;flex-direction: column;
}
.for_all_box h2{
    font-size: 50px;
    color: #4e47ff;
    line-height: 130%;
}
.for_all_box p{
    color: #252432a1;
    font-size: 18px;
}
.feedback_warper{
        width: 85%;
    position: relative;
    margin: 0 auto;
    padding:100px 0;
    display: flex;
    
    
    justify-content: space-between;
    max-width: 1300px;
}
.all_feeds{
    display: flex;
    gap: 40px;
    margin-top: 20px;
}
.card_for_all_feeds{
    border-radius: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
   padding: 20px 20px;
   transition: all ease 0.3s;
    background-color: #fafcff;
}
.card_for_all_feeds:hover{
        transform: translateY(-5px);

    box-shadow: 0px 10px 8px 0px rgba(0, 0, 0, 0.2);

}
.feedback h2{
    color: #252432;
    text-align: center;
    font-size: 30px;
    font-family: "Raleway", sans-serif;

}
.card_for_all_feeds .icon i{
    color: #ffb805;
}
.feeds_content h3{
        font-family: "Raleway", sans-serif;

    color: #252432;
}
.feeds_content p{
    font-family:  "Inter", sans-serif;

    color: #2524329d;
}
.feeds_content{
    margin-top: 10px;
}

.clint_section{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.name h3{
    font-size: 16px;
    color: #252432;
    font-weight: 500;
}
.clint_img img{
    border-radius: 50%;
    object-fit: cover;
    background-position: center;
}
.clint_img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.data{
    color: #252432b4;
    font-size: 14px;
}
.ready_to_focus_section_warper{
    padding: 100px 0;
}
.ready_to_focus_section{
    background-color: #fafcff;
    width: 85%;
    max-width: 1300px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 50px 40px;
    
}
.ready_to_focus_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.ready_to_focus_content h3{
    font-size: 35px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
    color: #252432;
    text-align: center;
    text-transform: capitalize;
}
.ready_to_focus_content p{
    font-size: 16px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    text-align: center;
    color: #252432a2;
}
.ready_to_focus_img{
    display: flex;

    margin-top: 20px;
    justify-content: center;
}
.ready_to_focus_img img{
    border-radius: 10px;
    width: 80%;
    object-fit: cover;
    object-position: center;
}
.contact_section_warper{
    padding: 70px 0;
}
.contact_section{
    width: 85%;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 40px 0px;
    
    justify-content: space-between;
    max-width: 1300px;
}
.contact_content h3{
 font-family: "Raleway", sans-serif;

 font-size: 60px;
}
.content_form form{
    display: flex;
    
    flex-direction: column;
}
.content_form form label{
    color: #000000;
    font-weight: 500;
     font-family: "Raleway", sans-serif;

    font-size: 16px;
}
.content_form form input{
width: 400px;
padding: 20px;
font-family: "Inter", sans-serif;
border-radius: 5px;
border: none;
}.content_form form textarea{
    width: 400px;
padding: 15px;
font-family: "Inter", sans-serif;
border-radius: 5px;
border: none;
}

/* footer style  */
footer{
    width: 100%;
    padding: 70px 0;
}
.footer_content{
        width: 85%;
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 40px 0px;
    
    flex-direction: column;
    justify-content: space-between;
    max-width: 1300px;
}
.footer_content .links{
display: flex;
margin-top: 10px;
gap: 15px;

}
.footer_content .links h3{
font-size: 16px;
font-weight: 500;
color: #252432d7;
    



}
.footer_content p{
    text-align: center;
    font-family: "Inter", sans-serif;

    color: #252432c0;
}